
.App-header {
  background-color: linear-gradient(to right, #172233, #4c6376);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
